.custom-profile-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.custom-profile-view .profile-data {
  white-space: nowrap;
  width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.custom-profile-view .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.custom-profile-view h2 {
  font-size: 20px;
}

.balance-detail {
  width: 55vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.balance-detail h1 {
  font-size: 40px;
}

.balance-detail h3 {
  font-size: 23px;
  font-weight: lighter;
}

.balance-detail p {
  font-size: 18px;
}

.balance-detail .row-balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55%;
}

.button-alpha {
  width: 13rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(111, 126, 211, 0.644);
  cursor: pointer;
  /* White */
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: white;
  padding: 20px 30px 20px 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button-alpha i {
  font-size: 25px;
  color: #b5b0ed;
}

.button-alpha:hover {
  background-color: rgba(51, 22, 146, 0.5);
}

.dashboard-top-up {
  margin-top: calc(2rem + 10vh);
  width: 65%;
  height: 79vh;
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #6379f4;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  height: 30vh;
}

.left-dash-bottom-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 110%;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  border-radius: 20px;
}

.left-dash-bottom-container .balance-detail {
  color: #221619;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.left-dash-bottom-container i {
  margin-bottom: 10px;
  font-size: 40px;
}

.left-dash-bottom-container p {
  margin-bottom: 10px;
}

.right-dash-bottom-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 110%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.margin-profile-container {
  margin-left: 20px;
  margin-right: 20px;
}

.chart-wrapper {
  width: 90%;
  margin-left: -1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 700px;
  padding-bottom: 5%;
}

.history-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -2.5rem;
}

.history-list-container .title-history {
  margin-top: -2rem;
  margin-bottom: -4rem;
}

.history-list-container .label-history-duration {
  font-size: 22px;
  margin-bottom: -4rem;
}

.history-list-container li {
  list-style: none;
}

.history-list-container ul {
  margin: 0;
  padding: 0;
}

.history-list-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.history-list-container .profile-container h2 {
  font-size: 18px;
  margin-right: 20px;
}

.history-list-container .profile-container p {
  margin-top: 10px;
}

.history-list-container .profile-container img {
  width: 65px;
}

.history-list-container .profile-data {
  width: 50%;
  margin: 0 5px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-list-container .profile-img {
  width: 75px;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-eye {
  position: absolute;
  width: 100%;
  margin-top: -1.5rem;
  margin-left: 22rem;
}

.center-text {
  text-align: center;
}

.fa-qrcode {
  font-size: 18px;
  font-family: "Regular";
}

.right-history {
  margin-top: 2rem;
  width: 60%;
  height: 78vh;
  padding: 0 50px;
  border-radius: 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.text-bold {
  font-weight: bold;
}

.modal-download {
  position: absolute;
  margin-left: -40vw;
  margin-top: 46vh;
  width: 133vw;
  height: 206vh;
  z-index: 1;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-download ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-download .pin-confirmation-box {
  padding-top: 10vh;
  margin-top: -100vh;
  margin-bottom: 85vh;
  margin-left: 50vw;
  height: 60vh;
}

.modal-button {
  color: #6379f4;
  background-color: #e8eafd;
  border: none;
  padding: 13px;
  border-radius: 1rem;
  margin-top: 13px;
  width: 15rem;
  font-size: 20px;
  z-index: 100;
  cursor: pointer;
}

.modal-button:hover {
  color: #6379f4;
  background-color: #c9c5f6;
}

.center {
  padding-left: 10rem;
}

.center img {
  padding-left: 2rem;
  margin-bottom: 10px;
}
/*# sourceMappingURL=Home.css.map */